.hero {
  background: url('../images/fundo.png') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;

  h1 {
    font-size: 3rem;
  }

  .btn {
    background: #ff4081;
    padding: 10px 20px;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
  }
}
